@charset "utf-8";
/* CSS Document */

p{
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	color: #0f0;
	font-siz: 10px;
}

body{
	background-color:#B98BB3;
}

