/*POSICIONAMIENTO DE CAJAS, RELATIVE*/

div{
    
    background:green;
    color:white;
    width: 100px;
    height:100px;
    font-size: 30px;
    
        
}


body{
    
    background:gold;
}

.caja{
    
    position: relative;/*nos permite pocisionar una caja y despues desplazarla desde su posición original dejando el 
    espacio vacío  */
    
    
    /*Propiedades a saber para el manejo de posicionamiento de cajas*/
    top:100px ;/*desplazamiento de arriba hacia abajo*/
    right:0;/*desplazamiento de izquierda a derecha*/
    left:200px;/*desplazamiento de  izquierda a derecha*/
    bottom:0;/*de abajo hacia arriba*/
    
}


