@charset "utf-8";
/* CSS Document */

body{
	background-color:mediumpurple;
}


div{
	background-color:skyblue ;
	color: red;
	font-size: 30px;
	width: 100px;
	height:100px;
	
}

.hijo{/*caja hijo dentro de la caja padre tiene que estar absolute la caja hijo*/
	
	position: absolute;
	top:100px ;
	right:auto;
	left:100px ;
	bottom: auto;
	
}

.padre{/*caja padre tiene que estar en relative para que la caja hijo empiece sobre ella
	solo especificamos la posicion no se ocupa nada mas de top y lo demás*/
	width: 500px;
	height: 500px;
	background: black;
	position: relative;/*al darle la posicion de relativo al div o caja padre
	la caja que esta adentro de la caja padre siempre y cuando la caja hija tenga la posición 
	de absoluta y la caja padre de relativa, la caja hija se posicionará
	al inico de la caja padre como marco principal*/
}
